body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  max-width: 2600px;
  min-height: 100vh;
  background: rgb(243, 243, 243);
  margin: auto;
}

#app {
  margin: auto;
  width: 100%;
  min-height: 100vh;
  position: relative;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
}

.header {
  min-height: 65px;
  background: white;
  border-bottom: 2px solid #5e6fa3;
  margin-bottom: 25px;
  position: relative;
}

.header-basket {
  position: absolute;
  right: 100px;
  top: 15px;
  height: 35px;
  width: 35px;
  cursor: pointer;
}

.header-basket-number {
  position: absolute;
  right: 75px;
  top: 10px;
  height: 25px;
  width: 25px;
  background: red;
  display: flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}

.loading-container {
  position: absolute;
  z-index: 9999;
  margin: auto;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-container {
  display: flex;
  padding: 50px;
}

.filter-container {
  padding: 15px;
  background: white;
  display: flex;
  flex-direction: column;
  border-radius: 3px;
  width: 20%;
  height: fit-content;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.tags-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5px;
}

.tags-item input, .tags-item h4 {
  margin-left: 10px;
}

.search-bar {
  margin: 5px;
  padding: 4px;
  border: none;
  border-bottom: 1px solid #5e6fa3;
}

.item-list-container {
  display: flex;
  justify-content: left;
  align-items: center;
  flex-wrap: wrap;
  padding: 50px;
  width: 75%;
}

.item-container {
  width: 250px;
  background: white;
  margin: 15px;
  padding: 15px;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 300px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.item-container h5 {
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid #5e6fa3;
}

.item-picture {
  width: 150px;
  height: 150px;
  margin: 5px;
  margin-bottom: 20px;
}

.item-container button {
  padding: 5px;
  border: 1px solid black;
  border-radius: 3px;
  background: rgb(231, 195, 75);
  cursor: pointer;
  margin-left: 5px;
}

.button-item {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 5px;
}

.basket-large-container {
  width: 100vw;
  min-height: 100%;
  height: fit-content;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background: rgba(29, 29, 29, 0.856);
  z-index: 9999;
}

.basket-container {
  margin-top: 150px;
  margin-bottom: 100px;
  padding: 45px;
  width: fit-content;
  height: fit-content;
  background: white;
  border-radius: 3px;
  position: relative;
}

.basket-item {
  margin: 10px;
  padding: 5px;
  border-bottom: 2px solid #5e6fa3;
  max-width: 500px;
  overflow: hidden;
}

.basket-item input, .basket-item p {
  margin: 5px;
}

.cross-pic {
  width: 35px;
  height: 35px;
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
}

.basket-item button {
  background: rgb(168, 24, 24);
  color: white;
  border: none;
  cursor: pointer;
  padding: 3px;
  border-radius: 3px;
  font-weight: 700;
  margin-bottom: 5px;
}

.basket-item img {
  width: 125px;
  height: 125px;
}